## Introduction of Pandas

1) Panda is an open source library built on top of NumPy
2) It allows for fast analysis and data cleaning and preparation
3) It excels in Performance and Productivity
4) It also has built-in visualization features
5) It can work with data from a wide variety of sources

In [3]:
# Import Numpy
import numpy as np

In [5]:
# Import Pandas
import pandas as pd

# Series

## What is the Pandas series?
A Pandas Series is a one-dimensional array-like object that can hold data of any type (integer, float, string, etc.). It is labelled, meaning each element has a unique identifier called an index.Weu can think of a Series as a column in a spreadsheet or a single column of a database table. Series are a fundamental data structure in Pandas and are commonly used for data manipulation and analysis tasks. They can be created from lists, arrays, dictionaries, and existing Series objects. Series are also a building block for the more complex Pandas DataFrame, which is a two-dimensional table-like structure consisting of multiple Series objects.

In [6]:
labels = ["a", "b", "c"]
my_list = [10,12,30]
arr = np.array(my_list)
my_dict = {"a":10,"b":20,"c":30}

In [7]:
labels

['a', 'b', 'c']

In [8]:
my_list

[10, 12, 30]

In [9]:
arr

array([10, 12, 30])

In [10]:
my_dict

{'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(my_list)

0    10
1    12
2    30
dtype: int64

In [12]:
pd.Series(my_list, index=labels)

a    10
b    12
c    30
dtype: int64

# We can pass the data and the index like this way also

In [14]:
pd.Series(my_list,labels)

a    10
b    12
c    30
dtype: int64

## Key Features of Series data structure:## 
Indexing:
Each element in a Series has a corresponding index, which can be used to access or manipulate the data.

In [15]:
a = pd.Series(my_list,labels)

In [16]:
a

a    10
b    12
c    30
dtype: int64

In [17]:
a[0]

10

In [18]:
a['a']

10

In [19]:
a['b']

12

## Passing the Numpy Array

In [20]:
b = pd.Series(arr)

In [21]:
b

0    10
1    12
2    30
dtype: int32

In [22]:
c = pd.Series(arr,labels)

In [23]:
c

a    10
b    12
c    30
dtype: int32

In [25]:
c['c']

30

## Passing the Dictionary

In [26]:
d = pd.Series(my_dict)

In [27]:
d

a    10
b    20
c    30
dtype: int64

In [28]:
d[0]

10

In [29]:
d['b']

20

## Pandas Series can hold any python data types as the data points

## As String

In [30]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

## As Numbers

In [31]:
pd.Series(my_list)

0    10
1    12
2    30
dtype: int64

## It can also hold Python Inbuild Functions

In [32]:
pd.Series([sum,max,min])

0    <built-in function sum>
1    <built-in function max>
2    <built-in function min>
dtype: object

In [33]:
country = ['India', 'UK', 'France', 'Belgium']

In [34]:
rank = [1,4,18,20]

In [35]:
d = pd.Series(rank,country)

In [36]:
d

India       1
UK          4
France     18
Belgium    20
dtype: int64

In [37]:
d['France']

18

In [38]:
d[1]

4

In [39]:
country1 = ['India', 'United kingdom', 'France', 'Nepal']

In [41]:
rank1 = [1,4,18,25]

In [42]:
e = pd.Series(rank1,country1)

In [43]:
d

India       1
UK          4
France     18
Belgium    20
dtype: int64

In [44]:
e

India              1
United kingdom     4
France            18
Nepal             25
dtype: int64

In [45]:
d + e

Belgium            NaN
France            36.0
India              2.0
Nepal              NaN
UK                 NaN
United kingdom     NaN
dtype: float64

## Where the Index are matched it added the Value, Where the index did not matched it provides NaN
## Note : integer will be converted to Float both in NumPy and Pandas