# Python Lists

## my_list = ["Pritam", "Kumar", "Dey"]

## Lists are used to store multiple items in a single variable.
### 
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.### 

Lists are created using square brackets:

In [1]:
my_list = ["pritam", "kumar", "dey"]
print(my_list)

['pritam', 'kumar', 'dey']

## List Items are## 1. Ordered
## 2. Changeable
## 3. Allow Duplicates
### 

List items are indexed, the first item has index [0], the second item has index [1] etc

In [7]:
my_list1 = [1,2,3,4,'pritam', 'dey', 2,3, 'kumar']
print(my_list1)
for i in my_list1:
    print(i)

[1, 2, 3, 4, 'pritam', 'dey', 2, 3, 'kumar']
1
2
3
4
pritam
dey
2
3
kumar

# OR

In [8]:
for i in range(len(my_list1)):
  print('The {} th element is : {}'.format(i,my_list1[i]))

The 0 th element is : 1
The 1 th element is : 2
The 2 th element is : 3
The 3 th element is : 4
The 4 th element is : pritam
The 5 th element is : dey
The 6 th element is : 2
The 7 th element is : 3
The 8 th element is : kumar

# type()

In [9]:
print(type(my_list1))

<class 'list'>

# The list() Constructor

In [17]:
a = ('A', 'B', 'C')
print('the type of a is : {}'.format(type(a)))
my_list = list(a)
print('the type of my_list is : {}'.format(type(my_list)))

the type of a is : <class 'tuple'>
the type of my_list is : <class 'list'>

# Access Items

In [19]:
print(my_list[2])
print(my_list[-2])

C
B

# Check if Item Exists

In [20]:
if "A" in my_list:
  print("Yes, 'A' is in the list")

Yes, 'A' is in the list

In [21]:
if "D" in my_list:
  print("Yes, 'D' is in the list")
else: print("No, 'D' is not in the list")

No, 'D' is not in the list

# Change List Items

In [23]:
print(my_list)
my_list[1] = 'pritam'
print(my_list)

['A', 'B', 'C']
['A', 'pritam', 'C']

# Insert Items

In [25]:
print(my_list)
my_list.insert(2, "kumar")
print(my_list)

['A', 'pritam', 'C']
['A', 'pritam', 'kumar', 'C']

# Append Items

In [26]:
print(my_list)
my_list.append("Dey")
print(my_list)

['A', 'pritam', 'kumar', 'C']
['A', 'pritam', 'kumar', 'C', 'Dey']

# Extend List

## To append elements from another list to the current list, use the extend() method.

In [31]:
a = [1,2,3]
b = ['x','y','z']
a.extend(b)
print(a)

[1, 2, 3, 'x', 'y', 'z']

# Remove Specified Item

In [32]:
print(a)
a.remove(3)
print(a)
a.pop(1)
print(a)

[1, 2, 3, 'x', 'y', 'z']
[1, 2, 'x', 'y', 'z']
[1, 'x', 'y', 'z']

# Clear the List

In [33]:
a.clear()
print(a)

[]

# List Comprehension

In [34]:
squares = []
for number in range(10):
	squares.append(number * number)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List comprehension offers a shorter syntax when we want to create a new list

In [36]:
cube = [number * number * number for number in range(10)]
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# Sort Lists

# 1. Sort List Alphanumerically

In [37]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Sort Descending

In [41]:
mylist2 = [1, 50, 165, 82, 23]
mylist2.sort(reverse = True)
print(mylist2)

[165, 82, 50, 23, 1]