# Python Tuples
## mytuple = ("pritam", "kumar", "dey")
## Tuples are used to store multiple items in a single variable.
## 
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.## 

A tuple is a collection which is ordered and unchangeabl## e.

Tuples are written with round brackets.

In [1]:
mytuple = ("pritam", "kumar", "dey")
print(mytuple)

('pritam', 'kumar', 'dey')

# Tuple Items are

## Ordered
## Unchangeable
## Allow Duplicates

In [7]:
my_tuple1 = ("apple", "banana", "cherry", "apple", "cherry", True, 1990, 3.14)
print(my_tuple1)

('apple', 'banana', 'cherry', 'apple', 'cherry', True, 1990, 3.14)

# Tuple Length

In [4]:
print(len(my_tuple1))

5

# How to Create Tuple With One Item

In [5]:
demotuple = ("apple",)
print(type(demotuple))

<class 'tuple'>

# NOT a Tuple

In [6]:
newtuple = ("apple")
print(type(newtuple))

<class 'str'>

# Access Tuple Items

In [10]:
thistuple = ("pritam", "kumar", "dey", 1990, "Redhill", 2024, "Python", "ML")
print(thistuple[1])
print(thistuple[6])
print(thistuple[-1])
print(thistuple[-4:-1])
print(thistuple[:5])

kumar
Python
ML
('Redhill', 2024, 'Python')
('pritam', 'kumar', 'dey', 1990, 'Redhill')

In [9]:
for i in range(len(thistuple)):
    print('The {}th item is {}'.format(i,thistuple[i]))

The 0th item is pritam
The 1th item is kumar
The 2th item is dey
The 3th item is 1990
The 4th item is Redhill
The 5th item is 2024
The 6th item is Python
The 7th item is ML

In [11]:
if "pritam" in thistuple:
  print("Yes, 'pritam' is in the tuple")

Yes, 'pritam' is in the fruits tuple

In [12]:
if "Pritam" in thistuple:
  print("Yes, 'Pritam' is in the tuple")
else: print("No, 'Pritam' is not in the tuple")

No, 'Pritam' is not in the tuple

# Change Tuple Values

## Once a tuple is created, we cannot change its values. Tuples are unchangeable

In [15]:
my_tuple1 = (1,2,3,4,5,"pritam")
print(my_tuple1)
my_tuple1[0] = 100
my_tuple1[3] = 1
print(my_tuple1)

(1, 2, 3, 4, 5, 'pritam')

TypeError: 'tuple' object does not support item assignment

# But there is a workaround. We can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [17]:
my_tuple1 = (1,2,3,4,5,"pritam")
my_list = list(my_tuple1)
my_list[0] = 100
my_list[3] = 1
print(my_list)
print(type(my_list))
thisTuple = tuple(my_list)
print(thisTuple)
print(type(thisTuple))

[100, 2, 3, 1, 5, 'pritam']
<class 'list'>
(100, 2, 3, 1, 5, 'pritam')
<class 'tuple'>

# Add Items

In [19]:
print(thisTuple)
thisTuple.append('Dey')

(100, 2, 3, 1, 5, 'pritam')

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
print(thisTuple)
print(len(thisTuple))
my_list = list(thisTuple)
my_list.append('Dey')
newTuple = tuple(my_list)
print(newTuple)
print(type(newTuple))
print(len(newTuple))

(100, 2, 3, 1, 5, 'pritam')
6
(100, 2, 3, 1, 5, 'pritam', 'Dey')
<class 'tuple'>
7

# Join Two Tuples

In [23]:
tuple1 = ("a", "b" , "c", 'pritam')
tuple2 = (1, 2, 3, 1, 'pritam')

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'pritam', 1, 2, 3, 1, 'pritam')

In [25]:
## Inbuilt function
tuple3.count('pritam')

2