# Python Sets

## Sets are used to store multiple items in a single variable.
## 
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.## 

A set is a collection which is unordered, unchangeable*, and unindexed.

# A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

# Set Items are
# Unordered
# Unchangeable
# Duplicates Not Allowed

## Sets cannot have two items with the same value.
## Duplicate values will be ignored:

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

## True and 1 is considered the same value.
## False and 0 is considered the same value:

In [5]:
thisset = {"apple", "banana", "cherry", True, 1, 2, 0, False}

print(thisset)

{0, True, 2, 'cherry', 'apple', 'banana'}

## Length of a SET

In [6]:
print(len(thisset))

6

# Access Items

In [8]:
for x in range(len(thisset)):
    print('the {}th element is : {}'.format(x,thisset[x]))

TypeError: 'set' object is not subscriptable

## As per the Python's Official Documentation, set data structure is referred as Unordered Collections of Unique Elements and that doesn't support operations like indexing or slicing etc.

## Once a set is created, we cannot change its items, but you can add new items.

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'apple', 'banana', 'pineapple', 'mango'}

## Remove Item

In [11]:
thisset.remove('papaya')
print(thisset)

{'cherry', 'apple', 'banana', 'pineapple', 'mango'}

## Note: If the item to remove does not exist, remove() will raise an error.

In [12]:
thisset.remove('papaya')
print(thisset)

KeyError: 'papaya'

## Note: If the item to remove does not exist, discard() will NOT raise an error.

In [13]:
thisset.discard('papaya')
print(thisset)

{'cherry', 'apple', 'banana', 'pineapple', 'mango'}

## Remove a random item by using the pop() method:

In [14]:
x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana', 'pineapple', 'mango'}

# Join Two Sets

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

# Keep ONLY the Duplicates

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

## The update() method inserts the items in set2 into set1:nt(x)

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

## Keep All, But NOT the Duplicates

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [19]:
type(x)

set